@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    width: auto;
    height: auto;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
    position: relative;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

body, button {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

header {
    margin-top: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.container {
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: 17rem;

    margin: .5rem;
    padding: 2rem;

    border: 3px solid rgb(114, 8, 8);
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(8px);
}
i {
    color: rgb(114, 8, 8);
}

#instrucciones, table {
    background: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(8px);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1 {
    margin: .3rem;
    font-size: 3rem;
}

h1, 
h3,
h5,
label,
#mensaje, #score,
#mensajePC,
#empezarJuego,
.btnForm {
    color: white;
}

h3 {
    margin: .3rem;
}

h4 {
    color: rgb(224, 62, 62);
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

.btnForm {
    margin: 2rem 1rem;
    font-size: 1rem;
}

.btnForm:hover {
    background-color: rgb(114, 8, 8);
}

#empezarJuego {
    padding: .7rem;
    margin: 2rem;
    font-size: 1.2rem;
}

.btnForm,
#empezarJuego,
#cerrarSesion,
#score {
    border: 1px solid white;
}

button {
    cursor: pointer;
}

.btnForm,
#cerrarSesion {
    background-color: rgba(255, 255, 255, 0.356);

}

.btnForm,
#opciones button {
    padding: .3rem;
}

#cerrarSesion {
    margin: 2rem;
    padding: .5rem;
    color: black;
}

label {
    margin: .5rem;
}

#instrucciones {
    width: 25rem;
    font-size: .8rem;
    padding: 1.4rem;
}

#mensaje {
    font-size: 1rem;
    margin-top: 3rem;
    padding: .4rem;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 2rem;
}


#score {
    margin: 2rem;
    width: 30rem;
    font-size: 1.3rem;
    padding: 1rem;
}

#score, #instrucciones, table, #opciones button {
    border-radius: 20px;
}

#empezarJuego, #score {
    background-color: rgb(224, 62, 62);

}

#ronda {
    font-size: 1rem;
    color: rgb(173, 166, 197);
    margin-bottom: 3rem;
}

#opciones {
    display: flex;
    justify-content: center;
    align-items: center;
}

#opciones button {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    font-size: .8rem;
    padding: .5rem;
    background: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(8px);
    color: white;
}


#tijera:hover,
#piedra:hover,
#papel:hover,
#lagarto:hover,
#spock:hover {
    background: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(8px);
    border: 1px solid white;
    color: white;
    text-align: center;
}

.containerJuego, #instrucciones {
    text-align: center;
    margin: 2rem auto;
}

/* Responsive */

@media (max-width: 740px) {
    body {
        height: 100vh;
        background-size: cover;
        text-align: center;
    }
    
    h1, h3 {
        margin: auto;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    #score {
        width: 85%;
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }

    #instrucciones {
        margin: auto;
        width: 90%;
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    #opciones button {
        margin: auto;
        width: 4rem;
        height: 4rem;
        font-size: 0.7rem;
        padding: 0.3rem;
    }
}